.popup__input {
  margin: 0 0 31px;
  padding: 0 0 8px 0;
  width: 100%;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}
