.places {
  margin: 0;
  padding: 50px 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  column-gap: 17px;
  row-gap: 20px;
  color: black;
}

@media screen and (max-width: 1023px)  {
  .places {
    padding-top: 36px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px)  {
  .places {
    padding-top: 36px;
    grid-template-columns: 1fr;
  }
}